# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.mo

# Environment variables
.env
.env.*
!.env_example

# IDE / Editor specific
.vscode/
.idea/
*.swp
*~
